.btn.type--uppercas {
    letter-spacing: .5px;
}
.btn:first-child {
    margin-left: 0;
}
.btn {
    position: relative;
}
.btn--sm {
    padding-top: 0.30952381em;
    padding-bottom: 0.30952381em;
    padding-right: 1.85714286em;
    padding-left: 1.85714286em;
}

.btn-outline-secondary {
    font-size: 18px;
    margin-right: 160px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-collapse {
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner {
    background-size: cover;
    background-image: linear-gradient(to right bottom,rgba(90, 0,0, .4), rgba(0, 0, 255, .4)), url('https://www.codepolitan.com/themes/belajarcoding/assets/img/bg-home.jpg');
    height: 500px;
}

.banner-content{
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    width: 900px;
}

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.container {
    text-align: center;
    padding-top: 10px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 2px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #333333;
}

p {
    color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

